main{
padding-top: 100px;
}

.achicar{
    width: 920px;
}

Button{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.categoria{
    box-shadow:  5px 5px 5px lightgray;
    border-radius: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 5%;
    padding: 1%;
}

.margin-0{
    margin: 0; 
}

.padding-0{
    padding: 0;
}

Button{
    padding: 0;
}

.row, .container{
    width: 100%;
    height: 100%;
}
.titulo-categoria{
    padding: 5%;
    background-color: #FFB287;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 1,2em;
}

.titulo-clase{
    padding-top: 2%;
    padding-bottom: 0;
    background-color: #FFB287;
    border-radius: 10px 0 0 0;
    color: white;
    font-family: "Baloo 2";
    font-weight: 800;
    text-transform: none;
    font-size: 1.5em;
}

.logo-texto{
    margin-top: 20px;
    font-family: "Baloo 2";
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.logo{
    max-height: 90px;
    padding: 20px;
}

.logo-container{
    max-height: 110px;
    margin-right: 50%;
    justify-content: center;
}

.datos-clase{
    background-color: #FFE4D4;
    border-radius: 0 10px 0 0;
    font-size: medium;
    text-transform: none;
    padding: 0;
    text-transform: none;
    padding-top: 2%;
}

.descripcion-clase{
    background-color: #F3F3F3;
    border-radius: 0 0 10px 10px;
    font-size: large;
    text-transform: none;
    max-height: 115px;
    overflow: hidden;
}

.datos-clase p{
    border-radius: 0 0 10px 10px;
    margin: 0;
    text-overflow: ellipsis;
    text-justify: auto;
}

.fav{
    border-radius: 100%;
    background-color: #FFB287;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    margin-left: 50px;
    margin-top: -100px;
}

.clases-container{
    position: relative;
}

.clases-card{
    top: 0; 
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.titulo-clases{
    font-family: "Baloo 2";
    font-weight: 700;
    font-size: medium;
}

.drawerIconContainer{
    flex:none;
    justify-content: center;
}

.principal{
    text-align: center;
    background-position: center;
    background-image: url("../public/images/6.jpeg");
    background-size: cover;
}

Button{
    width: 100%;
}

.boton-principal{
    width: 100%;
}

.btn{
    text-transform: none;
}

.cat-img{
    max-height: 200px;
    border-radius: 0 0 10px 10px;
}

.categorias{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.cat-cont{
   max-width: 100px;
}

.titulo{
    font-size: 3em;
    font-family: "Baloo 2";
    color: #FFB287;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.buscar{
    width: 90%;
    border-radius: 10px;
}

.buscar-cont{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
