
.cabecera{
	border: 2px  solid  rgba(0, 0, 0, 0.16);
	border-radius: 20px;
	padding: 10px;
	Font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}

.cuadro{
   display: block;
   margin-top: 23px;
   flex:content;   
  
}

.subtitulo{
	Font-size: 18px;  
	color: gray;
	margin-right: 10px;
}

.select_proyeccion, .btn_pasos, .btn_guardar{	
	text-align: center;
	width: 50%;
	font-size: 16px;
	padding: 8px;
	margin: 8px;
    
}



.select_proyeccion{
    border: 0px;
	border-radius: 20px;
	background-color: #FCE18B;
	color: rgb(155, 146, 146);	
    position: relative;
    float: right;
    margin-top: 0px;
    margin-right: 0px;

  
}




.btn_pasos, .btn_mas{
    margin-left: 22%;
	border: 0px;
	border-radius: 20px;
	background-color: #FCE18B;
	color: rgb(155, 146, 146);
}

.btn_pasos{
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}


.btn_mas, .btn_guardar,.btn_pasos {
	cursor: pointer;
}



.input_text{
	border-top: 2px;
	border-left: 2px;
	border-right: 2px;
}

.btn_mas{
    margin-left: 20px;
	padding: 2px 60px 2px 60px;
	font-size: 20px;
    position: relative;
    float: right;
 
}

.a_pasos{
	margin-left: 22%;
	text-decoration: none;
	border: 0px;
	border-radius: 20px;
	background-color: #FCE18B;
	color: rgb(155, 146, 146);
}

.btn_guardar{
	margin-top: 14px ;
	margin-left: 8%;
	width: 80%;
	border: 0px;
	border-radius: 20px;
	background-color: #FF7893;
	color: white;
}



/*hovers*/

.btn_guardar:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px #FF7893;
	transition: all 0.2s ease;
  }

  .btn_pasos:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px #FCE18B;
	transition: all 0.2s ease;
  }

  .btn_mas:hover {
	color: rgba(255, 255, 255, 1) !important;
	box-shadow: 0 4px 16px #FCE18B;
	transition: all 0.2s ease;
  }